<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= author %></h2>
    <p><%= description %></p>
    <h3>Dominio principal con bootstrap con archivos estáticos</h3>
    <p>Acceder a <a href="<%= mainDomain %>"><%= mainDomain %></a></p>
    <h3>Dominio nodepop con archivos estáticos</h3>
    <p>Acceder a <a href="<%= nodepopDomain %>"><%= nodepopDomain %></a></p>
    <h3>Ejemplo de archivos estáticos:</h3p>
    <ul>
      <li><a href="./images/bici.jpg">Bicicleta</a></li>
      <li><a href="./images/iphone.jpg">iphone</a></li>
    </ul>
  </body>
</html>
